<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Contact | Bebek Massage</title>
  </head>
  <body>
    <header>
      <h1>Contact Us</h1>
    </header>

    <%- include('partials/navbar') %>

    <div class="container">
      <h2>Get in Touch</h2>
      <p>Address: Sayya, Muharraq</p>
      <p>
        Instagram:
        <a href="https://www.instagram.com/bebek_massage/">bebek_massage</a>
      </p>
    </div>

    <%- include('footer') %>
  </body>
</html>
