<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Bebek Massage</title>
  </head>
  <body>
    <header>
      <img src="/images/bebekmassagelogo.jpg" alt="Bebek Massage Logo" />
      <h1>Welcome to Bebek Massage</h1>
    </header>

    <%- include('partials/navbar') %>

    <div class="container">
      <p>Your go-to place for premium massage therapy in Sayya, Muharraq.</p>
    </div>

    <%- include('footer') %>
  </body>
</html>
