<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Services | Bebek Massage</title>
  </head>
  <body>
    <header>
      <h1>Our Services</h1>
    </header>

    <%- include('partials/navbar') %>

    <div class="container">
      <h2>Professional Massage Therapy</h2>
      <p>Relaxing, therapeutic, and rejuvenating massages to suit all needs.</p>
    </div>

    <%- include('footer') %>
  </body>
</html>
